@page "/"

<h1>Hello, gRPC-Web!</h1>

@foreach (var question in questions)
{
    <gRPC.WWW.Components.MathematicalOperation Question="@question"> </gRPC.WWW.Components.MathematicalOperation>
}



@code {
    List<string> questions = new List<string>()
{
        {"22+54"},{"1-1"},{"435-36"},{"6+2*(98*2)"},{"10/2"},{"5-32"},{"4*2"},
        {"1-5*(-10+2)"},{"5+1"},{"15-3"},{"6*2/(9-2)"},{"10/2"},{"5-2"},{"4*2"}
    };
}